@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500&display=swap');
*{
    user-select: none;
    cursor: url(../img/cursor.png),auto;
}
/*Body*/
body {
    background-image: url("../img/background1.webp");
    background-repeat: no-repeat;
}
/*Index*/
#uvod {
    width: 90%;
    background-color: rgb(7, 32, 75);
    border-top: 16px solid rgb(31, 31, 31);
    border-left: 16px solid rgb(31, 31, 31);
    border-right: 16px solid rgb(63, 63, 63);
    border-bottom: 16px solid rgb(69, 69, 69);
    color: rgb(102, 255, 0);
    padding: 1em;
    margin-top: 10%;
    margin: auto;
    font-family: 'Pixelify Sans', cursive;
}
#uvod a {
    font-size: xx-large;
    color: crimson;
    font-family: 'Pixelify Sans', cursive;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Pixelify Sans', cursive;
}
/*Game*/
/*Planeta*/
#planet {
    max-width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
}
#planet:hover {
    transform: scale(1.10);
}
#staticplanet {
    max-width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
}
/*Nadpis*/
#container {
    width: 90%;
    margin: auto;
}
#container h1 {
    text-align: center;
    color: white;
    font-family: 'Pixelify Sans', cursive;
}
/*Hlavní menu*/
#container2 {
    width: 90%;
    height: 270px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#container2 div {
    height: 40%;
    width: 35%;
    margin: auto;
    background-color: rgb(26, 43, 73);
    border-top: 16px solid rgb(31, 31, 31);
    border-left: 16px solid rgb(31, 31, 31);
    border-right: 16px solid rgb(63, 63, 63);
    border-bottom: 16px solid rgb(69, 69, 69);
    color: rgb(102, 255, 0);
    padding: auto;
    font-size: large;
    font-family: 'Pixelify Sans', cursive;
    margin-top: 1%;
}
#container2 div:hover{
    background-color: rgb(54, 107, 131);
    cursor: url(../img/pointer.png),auto;
}
#container2 div p{
    display: block;
    width: 70%;
    float: left;
}
#container2 div img{
    display: block;
    width: 15%;
    margin: 1em;
    float: left;
}
/*counter*/
#moneycounter {
    text-align: center;
    color: white;
    padding:0.5em;
    font-size: xx-large;
    color: rgb(102, 255, 0);
    font-family: 'Pixelify Sans', cursive;
}
/*Responzivita*/
@media only screen and (max-width: 1000px){
    #planet{
        max-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #container2{
        flex-direction: column;
    }
    #container2 div{
        width: 90%;
    }
}