*{
    user-select: none;
}
/*Index*/
#uvod {
    width: 90%;
    background-color: rgb(94, 43, 25);
    border: 5px solid rgb(236, 135, 98);
    padding: 1em;
    margin-top: 10%;
    margin: auto;
    color: rgb(217, 255, 0);
}

#staticplanet {
    max-width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
}

#uvod a {
    font-size: xx-large;
    color: crimson;
}


/*Game*/
* {
    font-family: verdana;
}

body {
    background-image: url("../img/background1.webp");
    background-repeat: no-repeat;
}

#container {
    width: 90%;
    margin: auto;
}

#container h1 {
    text-align: center;
    color: white;
}

#container2 {
    width: 90%;
    height: 270px;
    margin: auto;
}

#container2 button {
    height: 40%;
    width: 33%;
    margin:auto;
    background-color: rgb(94, 43, 25);
    border: 3px solid rgb(236, 135, 98);
    color: rgb(217, 255, 0);
    padding: auto;
    font-size: large;
}
#container2 button:hover{
    background-color: rgb(131, 75, 54);

}
bone:hover{
    cursor: ;
}
#planet {
    max-width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
}

#planet:hover {
    transform: scale(1.10);
}

#moneycounter {
    text-align: center;
    color: white;
    padding:0.5em;
    font-size: large;
    background-color: rgb(236, 135, 98);
    border: 3px solid rgb(94, 43, 25);
    color: rgb(94, 43, 25);
}